<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DCM4CHEE</key>
	<string>CHP-MAIPU</string>
	<key>200.75.29.190</key>
	<string>CHP-ALAM</string>
	<key>OSRX_SAL1</key>
	<string>SONO-ALAM</string>
	<key>HDI5001</key>
	<string>SONO-BELLO</string>
	<key>OSRX-CD</key>
	<string>SONO-BELLO</string>
	<key>OSIRIX_BELLOTA</key>
	<string>SONO-BELLO</string>
	<key>SBE_OSRX2</key>
	<string>SONO-BELLO</string>
	<key>SBE_RM2</key>
	<string>SONO-BELLO</string>
	<key>SBE_OSRX1</key>
	<string>SONO-BELLO</string>
	<key>OSRX-SC</key>
	<string>SONO-HUERF</string>
	<key>SCCT</key>
	<string>SONO-HUERF</string>
	<key>OSTAC_CT</key>
	<string>SONO-HUERF</string>
	<key>SHF1_OSRX1</key>
	<string>SONO-HUERF</string>
	<key>RM_SHF</key>
	<string>SONO-HUERF</string>
	<key>OSRX_IND1</key>
	<string>SONO-INDEP</string>
	<key>OSRX_IND2</key>
	<string>SONO-INDEP</string>
	<key>SINMR</key>
	<string>SONO-INDEP</string>
	<key>SINCT</key>
	<string>SONO-INDEP</string>
	<key>OSRX_SIR1</key>
	<string>SONO-IRARR</string>
	<key>OSRX-LF</key>
	<string>SONO-LAFLO</string>
	<key>OSRX-MP</key>
	<string>SONO-MAIPU</string>
	<key>pa-minimac</key>
	<string>SONO-PTEALT</string>
	<key>VINACT</key>
	<string>SONO-VDM</string>
</dict>
</plist>
