<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KDU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OPJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dcmtk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>spoolstow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A16859A1DE75970007E10B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A169D861DECA012007E10B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A16A6011DED1900007E10B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEAD2471CC6E475000FEA7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
